/* mobile phone layout */
body {
  color: white;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

header {
  color: black;
  background-color: white;
  width: 100%;
  font-family: 'Anton', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
  margin-top: 0; /* override bootstrap */
  padding-top: 20px; /* override bootstrap */
}

p {
  margin: 0; /* override bootstrap */
  padding: 0 0 10px; /* override bootstrap */
}

button,
.btn-primary {
  font-family: 'Anton', sans-serif;
}

header button,
header .btn-primary {
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

.modal {
  color: black;
}

/* override bootstrap */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: black;
}

main button,
main.btn-primary {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

section#slides {
  background-color: blue;
}

section#products {
  background-image: url(../images/backgrounds/products-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section#protein {
  background-image: url(../images/backgrounds/protein-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section#jointhealth {
  background-image: url(../images/backgrounds/joint-health-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section#about {
  background-image: url(../images/backgrounds/about-d2a-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section#join {
  background-image: url(../images/backgrounds/join-d2a-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

section#contact {
  background-image: url(../images/backgrounds/contact-us-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

footer {
  text-align: right;
}

em {
  font-weight: bold;
  font-style: normal;
}

/* desktop and tablet layout */
@media only screen and (min-width: 768px) {
  header {
    height: 128px;
  }

  header img#logo {
    width: 166px;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 13px;
  }

  main {
    margin-top: 128px;
  }
  
  section#slides {
    height: 668px;
  }
  
  section#products {
    height: 700px;
  }
  
  section#protein {
    height: 2482px;
  }
  
  section#jointhealth {
    height: 2290px;
  }
  
  section#about {
    height: 724px;
  }
  
  section#join {
    height: 634px;
  }
  
  section#contact {
    height: 504px;
  }
  
  /* From http://getbootstrap.com/examples/carousel/carousel.css */
  /* Carousel base class */
  .carousel {
    height: 668px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 668px;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 668px;
  }
}

